appdirs
atomicwrites
attrs
beautifulsoup4
bs4
certifi
chardet
cssselect
fake-useragent
idna
lxml
more-itertools
parse
pluggy
py
pyee
pyppeteer
pyquery
pytest
requests
requests-html
requests-mock
six
soupsieve
tqdm
urllib3
w3lib
websockets
